# Google Analytics
VITE_GA_MEASUREMENT_ID=GA_MEASUREMENT_ID

# Google Tag Manager
VITE_GTM_ID=GTM-XXXXXXX

# Site Configuration
VITE_SITE_URL=https://poolfab.com.tr
VITE_SITE_NAME=PoolFab Türkiye

# Contact Information
VITE_CONTACT_PHONE=+90 212 123 45 67
VITE_CONTACT_EMAIL=info@poolfab.com.tr
VITE_CONTACT_ADDRESS=Maslak Mahallesi, Büyükdere Caddesi No:123, Sarıyer/İstanbul

# Social Media
VITE_FACEBOOK_URL=https://www.facebook.com/poolfabturkiye
VITE_INSTAGRAM_URL=https://www.instagram.com/poolfabturkiye
