.wpr-pointer-item {
position: relative;
}
.wpr-pointer-double-line .wpr-pointer-item:before,
.wpr-pointer-double-line .wpr-pointer-item:after,
.wpr-pointer-underline .wpr-pointer-item:after,
.wpr-pointer-overline .wpr-pointer-item:before {
content: '';
display: block;
height: 0px;
width: 100%;
left: 0;
background-color: #55595c;
z-index: 2;
}
.wpr-pointer-fx-none .wpr-pointer-item:before,
.wpr-pointer-fx-none .wpr-pointer-item:after {
opacity: 0;
-webkit-transition: none !important;
-o-transition: none !important;
transition: none !important;
}
.wpr-pointer-fx-none .wpr-pointer-item:hover:before,
.wpr-pointer-fx-none .wpr-pointer-item:hover:after {
opacity: 1;
}
.wpr-pointer-fx-fade .wpr-pointer-item:before,
.wpr-pointer-line-fx.wpr-pointer-fx-fade .wpr-pointer-item:after,
.wpr-pointer-line-fx.wpr-pointer-fx-grow .wpr-pointer-item:before,
.wpr-pointer-line-fx.wpr-pointer-fx-grow .wpr-pointer-item:after,
.wpr-pointer-line-fx.wpr-pointer-fx-drop .wpr-pointer-item:before,
.wpr-pointer-line-fx.wpr-pointer-fx-drop .wpr-pointer-item:after {
opacity: 0;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}
.wpr-pointer-line-fx.wpr-pointer-fx-fade .wpr-pointer-item:hover:before,
.wpr-pointer-line-fx.wpr-pointer-fx-fade .wpr-pointer-item:hover:after {
opacity: 1;
}
.wpr-pointer-line-fx.wpr-pointer-fx-slide .wpr-pointer-item:before,
.wpr-pointer-line-fx.wpr-pointer-fx-slide .wpr-pointer-item:after {
width: 0;
-webkit-transition: all .3s cubic-bezier(.175,.885,.32,1.075);
-o-transition: all .3s cubic-bezier(.175,.885,.32,1.075);
transition: all .3s cubic-bezier(.175,.885,.32,1.075);
}
.wpr-pointer-line-fx.wpr-pointer-fx-slide .wpr-pointer-item:hover:before,
.wpr-pointer-line-fx.wpr-pointer-fx-slide .wpr-pointer-item:hover:after {
width: 100%;
}
.wpr-pointer-line-fx.wpr-pointer-fx-grow .wpr-pointer-item:before,
.wpr-pointer-line-fx.wpr-pointer-fx-grow .wpr-pointer-item:after {
position: absolute;
width: 0;
margin: 0 auto;
left: 0;
right: 0;
-webkit-transition: all .3s cubic-bezier(0, 0, 0.16, 0.95);
-o-transition: all .3s cubic-bezier(0, 0, 0.16, 0.95);
-webkit-transition: all .3s ease(0, 0, 0.16, 0.95);
-o-transition: all .3s ease(0, 0, 0.16, 0.95);
transition: all .3s ease(0, 0, 0.16, 0.95);
}
.wpr-pointer-line-fx.wpr-pointer-fx-grow .wpr-pointer-item:hover:before,
.wpr-pointer-line-fx.wpr-pointer-fx-grow .wpr-pointer-item:hover:after {
opacity: 1;
width: 100%;
}
.wpr-pointer-line-fx.wpr-pointer-fx-drop .wpr-pointer-item:before {
position: absolute;
top: -10px;
}
.wpr-pointer-line-fx.wpr-pointer-fx-drop .wpr-pointer-item:hover:before {
top: 0;
opacity: 1;
}
.wpr-pointer-line-fx.wpr-pointer-fx-drop .wpr-pointer-item:after {
position: absolute;
bottom: -10px;
}
.wpr-pointer-line-fx.wpr-pointer-fx-drop .wpr-pointer-item:hover:after {
bottom: 0;
opacity: 1;
}
.wpr-pointer-border-fx .wpr-pointer-item:before {
content: '';
display: block;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 2;
opacity: 0;
border: 2px solid #000;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}
.wpr-pointer-border-fx .wpr-pointer-item:hover:before {
opacity: 1;
}
.wpr-pointer-border-fx.wpr-pointer-fx-grow .wpr-pointer-item:before,
.wpr-pointer-background-fx.wpr-pointer-fx-grow .wpr-pointer-item:before {
-webkit-transform: scale(0.9);
-ms-transform: scale(0.9);
transform: scale(0.9);
}
.wpr-pointer-border-fx.wpr-pointer-fx-shrink .wpr-pointer-item:before,
.wpr-pointer-background-fx.wpr-pointer-fx-shrink .wpr-pointer-item:before {
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}
.wpr-pointer-border-fx.wpr-pointer-fx-grow .wpr-pointer-item:hover:before,
.wpr-pointer-border-fx.wpr-pointer-fx-shrink .wpr-pointer-item:hover:before,
.wpr-pointer-background-fx.wpr-pointer-fx-grow .wpr-pointer-item:hover:before,
.wpr-pointer-background-fx.wpr-pointer-fx-shrink .wpr-pointer-item:hover:before,
.wpr-pointer-background-fx.wpr-pointer-fx-sweep .wpr-pointer-item:hover:before {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
}
.wpr-pointer-background-fx .wpr-pointer-item:before {
content: '';
display: block;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: -1;
opacity: 0;
background: #000;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}
.wpr-pointer-background-fx .wpr-pointer-item:hover:before {
opacity: 1;
}
.wpr-pointer-background-fx.wpr-pointer-fx-sweep .wpr-pointer-item:before {
-webkit-transform: translateY(-12%);
-ms-transform: translateY(-12%);
transform: translateY(-12%);
}
.wpr-pointer-background-fx.wpr-pointer-fx-skew .wpr-pointer-item:before {
-webkit-transform: perspective(600px) rotateX(90deg);
transform: perspective(600px) rotateX(90deg);
-webkit-transform-origin: center bottom 0;
-ms-transform-origin: center bottom 0;
transform-origin: center bottom 0;
}
.wpr-pointer-background-fx.wpr-pointer-fx-skew .wpr-pointer-item:hover:before {
-webkit-transform: perspective(600px) rotateX(0deg);
transform: perspective(600px) rotateX(0deg);
}span.wpcf7-form-control.wpcf7-cf7ic {
border: none;
}
.kc_captcha {
display: inherit;
} .cf7ic-style1 {
border: 1px solid;
padding: 10px;
display: inline-block;
text-align: center;
}
.cf7ic-style1 p {
margin-bottom: 5px;
}
.cf7ic-style1 p span {
color: red;
font-weight: bold;
}
.cf7ic-icon-wrapper {
font-size: inherit;
}
.cf7ic-style1 .cf7ic-icon-wrapper .fa,
.cf7ic-style1 .cf7ic-icon-wrapper svg {
font-size: inherit;    
border-color: inherit;
}
body .cf7ic-style1 .cf7ic-icon-wrapper svg {
width: 1em;
height: 1em;
fill: currentColor;
box-sizing: content-box !important;
}
.woocommerce .captcha-image .cf7ic-icon-wrapper label,
.woocommerce-page .captcha-image .cf7ic-icon-wrapper label,
.captcha-image .cf7ic-icon-wrapper label {
display: inline-block;
width: inherit;
vertical-align: text-top;
}
.captcha-image label > input { opacity: 0 !important;
inline-size: 0 !important;
width: 0;
height: 0;
min-width: 0;
min-height: 0;
margin: 0;
padding: 0;
border: none !important;
}
.captcha-image label > input + * { position: static;
cursor:pointer;
border-width: 2px;
border-style: none;
border-color: transparent;
padding: 7px;
}
.captcha-image label > input:checked + *,
.captcha-image label > input:focus + * { padding: 5px;
border-width: 2px;
border-style: solid;
}
.cf7ic-special {
opacity: 0;
filter: alpha(opacity=0);
pointer-events: none;
position: absolute;
left: 0;
width: 200px;
}
.cf7ic-loader,
.cf7ic-loader:before,
.cf7ic-loader:after {
border-radius: 50% !important;
width: 2em !important;
height: 2em !important;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
-webkit-animation: cf7ic-load 1.2s infinite ease-in-out;
animation: cf7ic-load 1.2s infinite ease-in-out;
}
.cf7ic-loader {
display: block;
color: #444;
font-size: 10px !important;
margin: 4.8em 6em !important;
position: relative !important;
text-indent: -9999em !important;
-webkit-transform: translateZ(0) !important;
-ms-transform: translateZ(0) !important;
transform: translateZ(0) !important;
-webkit-animation-delay: -0.16s;
animation-delay: -0.16s;
}
.cf7ic-loader:before,
.cf7ic-loader:after {
content: '';
position: absolute;
top: 0;
}
.cf7ic-loader:before {
left: -3.5em;
-webkit-animation-delay: -0.32s;
animation-delay: -0.32s;
}
.cf7ic-loader:after {
left: 3.5em;
}
@-webkit-keyframes cf7ic-load {
0%,
80%,
100% {
box-shadow: 0 2.5em 0 -1.3em;
}
40% {
box-shadow: 0 2.5em 0 0;
}
}
@keyframes cf7ic-load {
0%,
80%,
100% {
box-shadow: 0 2.5em 0 -1.3em;
}
40% {
box-shadow: 0 2.5em 0 0;
}
}
.ai1ic_screenreader {
display: inline-block !important;
position: absolute !important;
top: -10000rem;
left: 10px;
z-index: 99999;
background: #eee !important;
transition: none;
border: 2px solid transparent !important;
border-radius: 50% !important;
width: 24px;
height: 24px;
line-height: 1;
padding: 0;
}
.ai1ic_screenreader:focus {
position: relative !important;
top: 5px;
outline: 0;
border: none;
}
.ai1ic_screenreader svg {
width: 24px;
height: 24px;
padding: 0;
} .ai1ic-fields {
height: 0 !important;
display: block;
overflow: hidden !important;
}
body .ai1ic-fields input {
position: absolute;
transform: scale(0);
} .gform_validation_error .kc_captcha {
display: block !important;
}.elementor-widget.elementor-icon-list--layout-inline .elementor-widget-container,.elementor-widget:not(:has(.elementor-widget-container)) .elementor-widget-container{overflow:hidden}.elementor-widget .elementor-icon-list-items.elementor-inline-items{display:flex;flex-wrap:wrap;margin-inline:-8px}.elementor-widget .elementor-icon-list-items.elementor-inline-items .elementor-inline-item{word-break:break-word}.elementor-widget .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-inline:8px}.elementor-widget .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{border-width:0;border-inline-start-width:1px;border-style:solid;height:100%;inset-inline-end:-8px;inset-inline-start:auto;position:relative;width:auto}.elementor-widget .elementor-icon-list-items{list-style-type:none;margin:0;padding:0}.elementor-widget .elementor-icon-list-item{margin:0;padding:0;position:relative}.elementor-widget .elementor-icon-list-item:after{inset-block-end:0;position:absolute;width:100%}.elementor-widget .elementor-icon-list-item,.elementor-widget .elementor-icon-list-item a{align-items:var(--icon-vertical-align,center);display:flex;font-size:inherit}.elementor-widget .elementor-icon-list-icon+.elementor-icon-list-text{align-self:center;padding-inline-start:5px}.elementor-widget .elementor-icon-list-icon{display:flex;inset-block-start:var(--icon-vertical-offset,initial);position:relative}.elementor-widget .elementor-icon-list-icon svg{height:var(--e-icon-list-icon-size,1em);width:var(--e-icon-list-icon-size,1em)}.elementor-widget .elementor-icon-list-icon i{font-size:var(--e-icon-list-icon-size);width:1.25em}.elementor-widget.elementor-widget-icon-list .elementor-icon-list-icon{text-align:var(--e-icon-list-icon-align)}.elementor-widget.elementor-widget-icon-list .elementor-icon-list-icon svg{margin:var(--e-icon-list-icon-margin,0 calc(var(--e-icon-list-icon-size, 1em) * .25) 0 0)}.elementor-widget.elementor-list-item-link-full_width a{width:100%}.elementor-widget.elementor-align-center .elementor-icon-list-item,.elementor-widget.elementor-align-center .elementor-icon-list-item a{justify-content:center}.elementor-widget.elementor-align-center .elementor-icon-list-item:after{margin:auto}.elementor-widget.elementor-align-center .elementor-inline-items{justify-content:center}.elementor-widget.elementor-align-left .elementor-icon-list-item,.elementor-widget.elementor-align-left .elementor-icon-list-item a{justify-content:flex-start;text-align:left}.elementor-widget.elementor-align-left .elementor-inline-items{justify-content:flex-start}.elementor-widget.elementor-align-right .elementor-icon-list-item,.elementor-widget.elementor-align-right .elementor-icon-list-item a{justify-content:flex-end;text-align:right}.elementor-widget.elementor-align-right .elementor-icon-list-items{justify-content:flex-end}.elementor-widget:not(.elementor-align-right) .elementor-icon-list-item:after{inset-inline-start:0}.elementor-widget:not(.elementor-align-left) .elementor-icon-list-item:after{inset-inline-end:0}@media (min-width:-1){.elementor-widget.elementor-widescreen-align-center .elementor-icon-list-item,.elementor-widget.elementor-widescreen-align-center .elementor-icon-list-item a{justify-content:center}.elementor-widget.elementor-widescreen-align-center .elementor-icon-list-item:after{margin:auto}.elementor-widget.elementor-widescreen-align-center .elementor-inline-items{justify-content:center}.elementor-widget.elementor-widescreen-align-left .elementor-icon-list-item,.elementor-widget.elementor-widescreen-align-left .elementor-icon-list-item a{justify-content:flex-start;text-align:left}.elementor-widget.elementor-widescreen-align-left .elementor-inline-items{justify-content:flex-start}.elementor-widget.elementor-widescreen-align-right .elementor-icon-list-item,.elementor-widget.elementor-widescreen-align-right .elementor-icon-list-item a{justify-content:flex-end;text-align:right}.elementor-widget.elementor-widescreen-align-right .elementor-icon-list-items{justify-content:flex-end}.elementor-widget:not(.elementor-widescreen-align-right) .elementor-icon-list-item:after{inset-inline-start:0}.elementor-widget:not(.elementor-widescreen-align-left) .elementor-icon-list-item:after{inset-inline-end:0}}@media (max-width:-1){.elementor-widget.elementor-laptop-align-center .elementor-icon-list-item,.elementor-widget.elementor-laptop-align-center .elementor-icon-list-item a{justify-content:center}.elementor-widget.elementor-laptop-align-center .elementor-icon-list-item:after{margin:auto}.elementor-widget.elementor-laptop-align-center .elementor-inline-items{justify-content:center}.elementor-widget.elementor-laptop-align-left .elementor-icon-list-item,.elementor-widget.elementor-laptop-align-left .elementor-icon-list-item a{justify-content:flex-start;text-align:left}.elementor-widget.elementor-laptop-align-left .elementor-inline-items{justify-content:flex-start}.elementor-widget.elementor-laptop-align-right .elementor-icon-list-item,.elementor-widget.elementor-laptop-align-right .elementor-icon-list-item a{justify-content:flex-end;text-align:right}.elementor-widget.elementor-laptop-align-right .elementor-icon-list-items{justify-content:flex-end}.elementor-widget:not(.elementor-laptop-align-right) .elementor-icon-list-item:after{inset-inline-start:0}.elementor-widget:not(.elementor-laptop-align-left) .elementor-icon-list-item:after{inset-inline-end:0}.elementor-widget.elementor-tablet_extra-align-center .elementor-icon-list-item,.elementor-widget.elementor-tablet_extra-align-center .elementor-icon-list-item a{justify-content:center}.elementor-widget.elementor-tablet_extra-align-center .elementor-icon-list-item:after{margin:auto}.elementor-widget.elementor-tablet_extra-align-center .elementor-inline-items{justify-content:center}.elementor-widget.elementor-tablet_extra-align-left .elementor-icon-list-item,.elementor-widget.elementor-tablet_extra-align-left .elementor-icon-list-item a{justify-content:flex-start;text-align:left}.elementor-widget.elementor-tablet_extra-align-left .elementor-inline-items{justify-content:flex-start}.elementor-widget.elementor-tablet_extra-align-right .elementor-icon-list-item,.elementor-widget.elementor-tablet_extra-align-right .elementor-icon-list-item a{justify-content:flex-end;text-align:right}.elementor-widget.elementor-tablet_extra-align-right .elementor-icon-list-items{justify-content:flex-end}.elementor-widget:not(.elementor-tablet_extra-align-right) .elementor-icon-list-item:after{inset-inline-start:0}.elementor-widget:not(.elementor-tablet_extra-align-left) .elementor-icon-list-item:after{inset-inline-end:0}}@media (max-width:1024px){.elementor-widget.elementor-tablet-align-center .elementor-icon-list-item,.elementor-widget.elementor-tablet-align-center .elementor-icon-list-item a{justify-content:center}.elementor-widget.elementor-tablet-align-center .elementor-icon-list-item:after{margin:auto}.elementor-widget.elementor-tablet-align-center .elementor-inline-items{justify-content:center}.elementor-widget.elementor-tablet-align-left .elementor-icon-list-item,.elementor-widget.elementor-tablet-align-left .elementor-icon-list-item a{justify-content:flex-start;text-align:left}.elementor-widget.elementor-tablet-align-left .elementor-inline-items{justify-content:flex-start}.elementor-widget.elementor-tablet-align-right .elementor-icon-list-item,.elementor-widget.elementor-tablet-align-right .elementor-icon-list-item a{justify-content:flex-end;text-align:right}.elementor-widget.elementor-tablet-align-right .elementor-icon-list-items{justify-content:flex-end}.elementor-widget:not(.elementor-tablet-align-right) .elementor-icon-list-item:after{inset-inline-start:0}.elementor-widget:not(.elementor-tablet-align-left) .elementor-icon-list-item:after{inset-inline-end:0}}@media (max-width:-1){.elementor-widget.elementor-mobile_extra-align-center .elementor-icon-list-item,.elementor-widget.elementor-mobile_extra-align-center .elementor-icon-list-item a{justify-content:center}.elementor-widget.elementor-mobile_extra-align-center .elementor-icon-list-item:after{margin:auto}.elementor-widget.elementor-mobile_extra-align-center .elementor-inline-items{justify-content:center}.elementor-widget.elementor-mobile_extra-align-left .elementor-icon-list-item,.elementor-widget.elementor-mobile_extra-align-left .elementor-icon-list-item a{justify-content:flex-start;text-align:left}.elementor-widget.elementor-mobile_extra-align-left .elementor-inline-items{justify-content:flex-start}.elementor-widget.elementor-mobile_extra-align-right .elementor-icon-list-item,.elementor-widget.elementor-mobile_extra-align-right .elementor-icon-list-item a{justify-content:flex-end;text-align:right}.elementor-widget.elementor-mobile_extra-align-right .elementor-icon-list-items{justify-content:flex-end}.elementor-widget:not(.elementor-mobile_extra-align-right) .elementor-icon-list-item:after{inset-inline-start:0}.elementor-widget:not(.elementor-mobile_extra-align-left) .elementor-icon-list-item:after{inset-inline-end:0}}@media (max-width:767px){.elementor-widget.elementor-mobile-align-center .elementor-icon-list-item,.elementor-widget.elementor-mobile-align-center .elementor-icon-list-item a{justify-content:center}.elementor-widget.elementor-mobile-align-center .elementor-icon-list-item:after{margin:auto}.elementor-widget.elementor-mobile-align-center .elementor-inline-items{justify-content:center}.elementor-widget.elementor-mobile-align-left .elementor-icon-list-item,.elementor-widget.elementor-mobile-align-left .elementor-icon-list-item a{justify-content:flex-start;text-align:left}.elementor-widget.elementor-mobile-align-left .elementor-inline-items{justify-content:flex-start}.elementor-widget.elementor-mobile-align-right .elementor-icon-list-item,.elementor-widget.elementor-mobile-align-right .elementor-icon-list-item a{justify-content:flex-end;text-align:right}.elementor-widget.elementor-mobile-align-right .elementor-icon-list-items{justify-content:flex-end}.elementor-widget:not(.elementor-mobile-align-right) .elementor-icon-list-item:after{inset-inline-start:0}.elementor-widget:not(.elementor-mobile-align-left) .elementor-icon-list-item:after{inset-inline-end:0}}#left-area ul.elementor-icon-list-items,.elementor .elementor-element ul.elementor-icon-list-items,.elementor-edit-area .elementor-element ul.elementor-icon-list-items{padding:0}.elementor-widget-social-icons.elementor-grid-0 .elementor-widget-container,.elementor-widget-social-icons.elementor-grid-0:not(:has(.elementor-widget-container)),.elementor-widget-social-icons.elementor-grid-mobile-0 .elementor-widget-container,.elementor-widget-social-icons.elementor-grid-mobile-0:not(:has(.elementor-widget-container)),.elementor-widget-social-icons.elementor-grid-tablet-0 .elementor-widget-container,.elementor-widget-social-icons.elementor-grid-tablet-0:not(:has(.elementor-widget-container)){font-size:0;line-height:1}.elementor-widget-social-icons:not(.elementor-grid-0):not(.elementor-grid-tablet-0):not(.elementor-grid-mobile-0) .elementor-grid{display:inline-grid}.elementor-widget-social-icons .elementor-grid{grid-column-gap:var(--grid-column-gap,5px);grid-row-gap:var(--grid-row-gap,5px);grid-template-columns:var(--grid-template-columns);justify-content:var(--justify-content,center);justify-items:var(--justify-content,center)}.elementor-icon.elementor-social-icon{font-size:var(--icon-size,25px);height:calc(var(--icon-size, 25px) + 2 * var(--icon-padding, .5em));line-height:var(--icon-size,25px);width:calc(var(--icon-size, 25px) + 2 * var(--icon-padding, .5em))}.elementor-social-icon{--e-social-icon-icon-color:#fff;align-items:center;background-color:#69727d;cursor:pointer;display:inline-flex;justify-content:center;text-align:center}.elementor-social-icon i{color:var(--e-social-icon-icon-color)}.elementor-social-icon svg{fill:var(--e-social-icon-icon-color)}.elementor-social-icon:last-child{margin:0}.elementor-social-icon:hover{color:#fff;opacity:.9}.elementor-social-icon-android{background-color:#a4c639}.elementor-social-icon-apple{background-color:#999}.elementor-social-icon-behance{background-color:#1769ff}.elementor-social-icon-bitbucket{background-color:#205081}.elementor-social-icon-codepen{background-color:#000}.elementor-social-icon-delicious{background-color:#39f}.elementor-social-icon-deviantart{background-color:#05cc47}.elementor-social-icon-digg{background-color:#005be2}.elementor-social-icon-dribbble{background-color:#ea4c89}.elementor-social-icon-elementor{background-color:#d30c5c}.elementor-social-icon-envelope{background-color:#ea4335}.elementor-social-icon-facebook,.elementor-social-icon-facebook-f{background-color:#3b5998}.elementor-social-icon-flickr{background-color:#0063dc}.elementor-social-icon-foursquare{background-color:#2d5be3}.elementor-social-icon-free-code-camp,.elementor-social-icon-freecodecamp{background-color:#006400}.elementor-social-icon-github{background-color:#333}.elementor-social-icon-gitlab{background-color:#e24329}.elementor-social-icon-globe{background-color:#69727d}.elementor-social-icon-google-plus,.elementor-social-icon-google-plus-g{background-color:#dd4b39}.elementor-social-icon-houzz{background-color:#7ac142}.elementor-social-icon-instagram{background-color:#262626}.elementor-social-icon-jsfiddle{background-color:#487aa2}.elementor-social-icon-link{background-color:#818a91}.elementor-social-icon-linkedin,.elementor-social-icon-linkedin-in{background-color:#0077b5}.elementor-social-icon-medium{background-color:#00ab6b}.elementor-social-icon-meetup{background-color:#ec1c40}.elementor-social-icon-mixcloud{background-color:#273a4b}.elementor-social-icon-odnoklassniki{background-color:#f4731c}.elementor-social-icon-pinterest{background-color:#bd081c}.elementor-social-icon-product-hunt{background-color:#da552f}.elementor-social-icon-reddit{background-color:#ff4500}.elementor-social-icon-rss{background-color:#f26522}.elementor-social-icon-shopping-cart{background-color:#4caf50}.elementor-social-icon-skype{background-color:#00aff0}.elementor-social-icon-slideshare{background-color:#0077b5}.elementor-social-icon-snapchat{background-color:#fffc00}.elementor-social-icon-soundcloud{background-color:#f80}.elementor-social-icon-spotify{background-color:#2ebd59}.elementor-social-icon-stack-overflow{background-color:#fe7a15}.elementor-social-icon-steam{background-color:#00adee}.elementor-social-icon-stumbleupon{background-color:#eb4924}.elementor-social-icon-telegram{background-color:#2ca5e0}.elementor-social-icon-threads{background-color:#000}.elementor-social-icon-thumb-tack{background-color:#1aa1d8}.elementor-social-icon-tripadvisor{background-color:#589442}.elementor-social-icon-tumblr{background-color:#35465c}.elementor-social-icon-twitch{background-color:#6441a5}.elementor-social-icon-twitter{background-color:#1da1f2}.elementor-social-icon-viber{background-color:#665cac}.elementor-social-icon-vimeo{background-color:#1ab7ea}.elementor-social-icon-vk{background-color:#45668e}.elementor-social-icon-weibo{background-color:#dd2430}.elementor-social-icon-weixin{background-color:#31a918}.elementor-social-icon-whatsapp{background-color:#25d366}.elementor-social-icon-wordpress{background-color:#21759b}.elementor-social-icon-x-twitter{background-color:#000}.elementor-social-icon-xing{background-color:#026466}.elementor-social-icon-yelp{background-color:#af0606}.elementor-social-icon-youtube{background-color:#cd201f}.elementor-social-icon-500px{background-color:#0099e5}.e--ua-appleWebkit.rtl{--flex-right:flex-start}.e--ua-appleWebkit .elementor-share-buttons--align-right,.e--ua-appleWebkit .elementor-widget-social-icons.e-grid-align-right{--justify-content:var(--flex-right,flex-end)}.e--ua-appleWebkit .elementor-share-buttons--align-center,.e--ua-appleWebkit .elementor-widget-social-icons.e-grid-align-center{--justify-content:center}.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons--align-center .elementor-grid,.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons--align-justify .elementor-grid,.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons--align-right .elementor-grid,.e--ua-appleWebkit .elementor-grid-0.elementor-widget-social-icons.e-grid-align-center .elementor-grid,.e--ua-appleWebkit .elementor-grid-0.elementor-widget-social-icons.e-grid-align-right .elementor-grid{display:flex;flex-wrap:wrap;justify-content:var(--justify-content,space-between);margin-left:calc(-.5 * var(--grid-column-gap));margin-right:calc(-.5 * var(--grid-column-gap));width:auto}.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons--align-center .elementor-grid-item,.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons--align-justify .elementor-grid-item,.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons--align-right .elementor-grid-item,.e--ua-appleWebkit .elementor-grid-0.elementor-widget-social-icons.e-grid-align-center .elementor-grid-item,.e--ua-appleWebkit .elementor-grid-0.elementor-widget-social-icons.e-grid-align-right .elementor-grid-item{margin-left:calc(.5 * var(--grid-column-gap));margin-right:calc(.5 * var(--grid-column-gap))}.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons--align-left .elementor-grid,.e--ua-appleWebkit .elementor-grid-0.elementor-widget-social-icons.e-grid-align-left .elementor-grid{display:inline-block}.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons--align-left .elementor-grid,.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons--align-left .elementor-grid-item,.e--ua-appleWebkit .elementor-grid-0.elementor-widget-social-icons.e-grid-align-left .elementor-grid,.e--ua-appleWebkit .elementor-grid-0.elementor-widget-social-icons.e-grid-align-left .elementor-grid-item{margin-left:0;margin-right:0}@media (max-width:1024px){.e--ua-appleWebkit .elementor-share-buttons-tablet--align-right,.e--ua-appleWebkit .elementor-widget-social-icons.e-grid-align-tablet-right{--justify-content:var(--flex-right,flex-end)}.e--ua-appleWebkit .elementor-share-buttons-tablet--align-center,.e--ua-appleWebkit .elementor-widget-social-icons.e-grid-align-tablet-center{--justify-content:center}.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons--align-tablet-center .elementor-grid,.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons--align-tablet-justify .elementor-grid,.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons--align-tablet-right .elementor-grid,.e--ua-appleWebkit .elementor-grid-0.elementor-widget-social-icons.e-grid-align-tablet-center .elementor-grid,.e--ua-appleWebkit .elementor-grid-0.elementor-widget-social-icons.e-grid-align-tablet-right .elementor-grid{display:flex;flex-wrap:wrap;justify-content:var(--justify-content,space-between);margin-left:calc(-.5 * var(--grid-column-gap));margin-right:calc(-.5 * var(--grid-column-gap));width:auto}.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons--align-tablet-center .elementor-grid-item,.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons--align-tablet-justify .elementor-grid-item,.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons--align-tablet-right .elementor-grid-item,.e--ua-appleWebkit .elementor-grid-0.elementor-widget-social-icons.e-grid-align-tablet-center .elementor-grid-item,.e--ua-appleWebkit .elementor-grid-0.elementor-widget-social-icons.e-grid-align-tablet-right .elementor-grid-item{margin-left:calc(.5 * var(--grid-column-gap));margin-right:calc(.5 * var(--grid-column-gap))}.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons-tablet--align-left .elementor-grid,.e--ua-appleWebkit .elementor-grid-0.elementor-widget-social-icons.e-grid-align-tablet-left .elementor-grid{display:inline-block}.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons-tablet--align-left .elementor-grid,.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons-tablet--align-left .elementor-grid-item,.e--ua-appleWebkit .elementor-grid-0.elementor-widget-social-icons.e-grid-align-tablet-left .elementor-grid,.e--ua-appleWebkit .elementor-grid-0.elementor-widget-social-icons.e-grid-align-tablet-left .elementor-grid-item{margin-left:0;margin-right:0}}@media (max-width:767px){.e--ua-appleWebkit .elementor-share-buttons-mobile--align-right,.e--ua-appleWebkit .elementor-widget-social-icons.e-grid-align-mobile-right{--justify-content:var(--flex-right,flex-end)}.e--ua-appleWebkit .elementor-share-buttons-mobile--align-center,.e--ua-appleWebkit .elementor-widget-social-icons.e-grid-align-mobile-center{--justify-content:center}.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons--align-mobile-center .elementor-grid,.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons--align-mobile-justify .elementor-grid,.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons--align-mobile-right .elementor-grid,.e--ua-appleWebkit .elementor-grid-0.elementor-widget-social-icons.e-grid-align-mobile-center .elementor-grid,.e--ua-appleWebkit .elementor-grid-0.elementor-widget-social-icons.e-grid-align-mobile-right .elementor-grid{display:flex;flex-wrap:wrap;justify-content:var(--justify-content,space-between);margin-left:calc(-.5 * var(--grid-column-gap));margin-right:calc(-.5 * var(--grid-column-gap));width:auto}.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons--align-mobile-center .elementor-grid-item,.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons--align-mobile-justify .elementor-grid-item,.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons--align-mobile-right .elementor-grid-item,.e--ua-appleWebkit .elementor-grid-0.elementor-widget-social-icons.e-grid-align-mobile-center .elementor-grid-item,.e--ua-appleWebkit .elementor-grid-0.elementor-widget-social-icons.e-grid-align-mobile-right .elementor-grid-item{margin-left:calc(.5 * var(--grid-column-gap));margin-right:calc(.5 * var(--grid-column-gap))}.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons-mobile--align-left .elementor-grid,.e--ua-appleWebkit .elementor-grid-0.elementor-widget-social-icons.e-grid-align-mobile-left .elementor-grid{display:inline-block}.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons-mobile--align-left .elementor-grid,.e--ua-appleWebkit .elementor-grid-0.elementor-share-buttons-mobile--align-left .elementor-grid-item,.e--ua-appleWebkit .elementor-grid-0.elementor-widget-social-icons.e-grid-align-mobile-left .elementor-grid,.e--ua-appleWebkit .elementor-grid-0.elementor-widget-social-icons.e-grid-align-mobile-left .elementor-grid-item{margin-left:0;margin-right:0}}